h2,h3 {
    font-family: monospace;
    text-align: center;
    font-size: 22px;
}
.imposter {
    color: #EB1D36;
    font-size: 30px;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
    gap: 20px;
    margin: 30px auto;
}
.box {
    border: 3px solid black;
    border-radius: 5px;
    max-width: 190px;
    height: 140px;
    background-image: url('lock.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.author {
    font-family: monospace;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}